@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .project-details-container {
    background-color: #7c8033;
  }
  
  .project-details {
    max-width: 1200px;
    margin: auto;
  }
  
  .project-details-title {
    margin: 0 auto;
    padding: 60px 0 30px;
    max-width: 800px;

  }
  
  .project-details-description {
    margin: 0 auto;
    padding: 20px 0 70px;
    max-width: 800px;
  }
  
  .project-images {
    max-width: 1200px;
    margin: auto;
  }
  
  .project-details-img {
    width: 100%;
    padding: 5% 20%;
    box-sizing: border-box;
  }
  
  .back-to-top {
    width: 150px;
    position: fixed;
    top: 40%;
    right: 25px;
  }
  
  .back-to-projects {
    width: 150px;
    position: fixed;
    top: 70%;
    right: 25px;
  }
  
  .back-to-top img, 
  .back-to-projects img {
    width: 100%;
    animation: spin 5s linear infinite;
  }
  

  @media(max-width: 700px){
    .project-details-img {
      padding: 0;
    }
    .project-details-container, .project-images{
      padding: 0px 20px;
      margin: 40px 0;
    }

    .back-to-top, .back-to-projects {
      right: -90px;
    }


  }